@charset "UTF-8";


/*---------- ページ全体の指定 ----------*/

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino KaKu Gothic Pro", "ＭＳ Ｐゴシック", "MS P Gothic", Osaka, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #eeeeee;
  background-image: url(img/back.gif);
  background-position: center;
  background-repeat: repeat-y;
}

/* IE7の指定 */
*:first-child+html body {
padding-left: 1px;
}

/* IE6の指定 */
*html body {
padding-left: 1px;
}

a:link {
  color: #004080;
  font-size: 12px;
}

a:hover {
  color: #0060C0;
  font-size: 12px;
}

a:visited {
  color: #004080;
  font-size: 12px;
}

p {
  margin: 18px 0 18px 0;
  line-height: 180%;
  letter-spacing: 1px;
}


/*---------- メイン ----------*/

#main {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 800px;
  border-right:  solid 1px #aaaaaa;
  border-bottom: solid 2px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  background-color: #ffffff;
}


/*---------- ヘッダー ----------*/

#header {
  margin: 0;
  width: 800px;
  height: 75px;
  border-top: solid 3px #0060C0;
  background-color: #ffffff;
}

#header h1 {
  margin: 0;
  padding: 2px 0 0 10px;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  color: #004080;
}

#header h2 {
  margin: 0;
  padding: 6px 10px 10px 12px;
  width: 400px;
  text-align: left;
  font-size: 14px;
  color: #555555;
  letter-spacing: 1px;
}


#table-left{
  text-align: left;
  font-size: 16px;
  color: #333333;
  line-height: 150%;
  text-decoration: none;
}

#table-left a{
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}

#table-left a:hover{
  font-size: 16px;
  color: #666666;
  text-decoration: none;
}


#table-right{
  text-align: right;
  margin: 0;
  padding: 2px 14px 2px 0;
  font-size: 16px;
  color: #c9171e;
  line-height: 150%;
  text-decoration: none;
}

#table-right a{
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}

#table-right a:hover{
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}


#header-menu {
  height: 25px;
  background-color: #333333;
  margin: 0px;
  padding: 13px 0 0 17px;
  border-top: solid 2px #cccccc;
  background: url(img/head_menu_back.gif);
  background-repeat: repeat-x;
  text-align: left;
  width: auto;
}

#header-menu ul {
  text-align: left;
  margin: 0px;
  padding: 0px
}

#header-menu li {
  color: #ffffff;
  display: inline;
  padding-left: 15px;
  padding-right: 10px;
  background: url(img/l_icon.gif) no-repeat;
  background-position: left center;
}

#header-menu a {
  color: #ffffff;
  text-decoration: none;
}

#header-menu a:hover {
  color: #dddddd;
}


/*---------- コンテンツ ----------*/

#container {
  width: 788px;
  overflow: hidden;
  margin: 0px;
  padding: 6px;
  background-color: #ffffff;
}


/*---------- メインコンテンツ ----------*/

#contents {
  float: right;
  margin: 0;
  padding: 5px 10px 5px 0;
  font-size: 12px;
  line-height: 180%;
  width: 570px;
  letter-spacing: 1px;
}

#contents #pannavi {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 12px;
}

/*-- #contents h2 {
  height: 29px;
  margin: 0 0 4px 0;
  padding: 10px 0 0 20px;
  font-size: 12px;
  color: #004080;
  background-image: url(img/titlebar.gif);
  background-repeat: no-repeat;
} --*/

#contents h2 {
  margin: 0 0 8px 0;
  padding: 5px 0 3px 22px;
  font-size: 14px;
  border-bottom: solid 1px;
  border-bottom-color: #cccccc;
  background: url(img/h_icon.gif) left top no-repeat;
  background-color: #eeeeee;
}

#contents h3 {
  margin: 12px 5px 10px 6px;
  padding: 8px 10px 5px 13px;
  line-height: 110%;
  font-size: 13px;
  color: #444444;
  border-left: solid 5px #aaaaaa;
  background-color: #eeeeee;
}

#contents h4 {
  color: #0060C0;
}

#contents p {
  margin: 18px 0 18px 0;
  padding: 0 5px 0 5px;
  line-height: 180%;
  font-size: 12px;
}

#contents a {
  color: #004080;
  font-size: 12px;
}

#contents a:hover {
  color: #0060C0;
  font-size: 12px;
}

#contents img.head_photo {
  margin: 0 0 10px 0;
}

#contents img.photo {
  float: left;
  margin: 10px 20px 0 0;
}

#contents img.picture {
  margin: 0 10px 10px 0;
  float: left;
}

#contents p.photo {
  margin: 0 0 20px 0;
  padding: 0;
}

#contents figcaption {
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: bold;
}


table#t01 {
  border: solid 1px #999999;
  border-collapse: collapse;
}


td#t01 {
  border: solid 1px #999999;
  border-collapse: collapse;
}


td#head {
  padding: 7px 6px 5px 10px;
  border: solid 1px #999999;
  border-collapse: collapse;
  background-image: url(img/item_block_bg.gif);
}


table.table_line {
  margin : 10px 0 0 0;
  border-collapse: collapse;
  border: solid 1px #dddddd;
}


td.table_line {
  border-collapse: collapse;
  border: solid 1px #dddddd;
  padding : 10px 14px 8px 14px;
}

th {
  margin: 0 0 0 0;
  padding: 2px 0px 2px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #167ee5;
}

.th_small {
  font-size: 10px;
  background-color: #30a0ff;
}

/*-----テーブルの左項目クラス定義（８文字分)----*/
td.rh{
  width: 8em;
}
#fbold {
  font-weight: bold;
}


/*---------- メニュー ----------*/

#menu {
  float: left;
  margin: 0 0 15px 0;
  padding: 0;
  width: 190px;
  text-align: left;
  background-image: url(img/menu_back.gif);
  letter-spacing: 1px;
}

#menu h2 {
  height: 19px;
  margin: 0;
  padding: 7px 0 0 12px;
  font-size: 12px;
  color: #fffffc;
  background-image: url(img/sidebar.gif);
  background-repeat: no-repeat;
}

#menu p {
  margin: 0;
  padding: 10px 4px 2px 4px;
  font-size: 12px;
  background-color: #f3f3f2;
  line-height: 180%;
}

.menulist {
  margin: 0 0 15px 0;
  padding: 5px 2px 0px 5px;
  width: 180px;
  text-align: left;
  background-image: url(img/menu_back.gif);
}

.menulist h2 {
  height: 19px;
  margin: 0;
  padding: 7px 0 0 12px;
  font-size: 12px;
  color: #fffffc;
  background-image: url(img/sidebar.gif);
  background-repeat: no-repeat;
}

.menulist a{
  color: #004080;
  display: block;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  width: 154px;
  padding: 7px 4px 3px 20px;
  font-size: 12px;
  line-height: 180%;
  text-decoration: none;
  background-image: url(img/side_menu_bg.gif);
  background-repeat: no-repeat;
 }

.menulist a:hover{
  color: #0060C0;
  text-decoration: underline;
  background-image: url(img/side_menu_bg_hover.gif);
  background-repeat: no-repeat;
}


.menu_free {
  margin: 0 0 14px 0;
  padding: 5px 2px 0px 5px;
  width: 180px;
  text-align: left;
  background-image: url(img/menu_back.gif);
}

.menu_free h2 {
  height: 19px;
  margin: 0;
  padding: 7px 0 0 12px;
  font-size: 12px;
  color: #fffffc;
  background-image: url(img/sidebar.gif);
  background-repeat: no-repeat;
}

.menu_free a{
  color: #004080;
  padding: 6px 0 5px 0;
  font-size: 12px;
 }

.menu_free a:hover{
  color: #0060C0;
}

.menu_free p{
  margin: 0;
  padding: 10px 4px 0 4px;
  font-size: 12px;
  line-height: 180%;
}


/*---------- フッター ----------*/

#footer {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 15px 0 15px 0;
  text-align: center;
  font-size: 12px;
  color: #333333;
  border-top: solid 3px;
  border-top-color: #0060C0;
  background-color: #eeeeee;
}

#footer a {
  color: #333333;
  font-size: 12px;
 }

#footer a:hover {
  color: #333333;
}
